/*
BODY
*/
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: 0;
    background-image: url("../images/bg.png");
    background-attachment:fixed;
}

/*
HEADER
*/
.header {
    width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 75px;
	line-height: 75px;
	background-color: #585858; 
	position: fixed;
    z-index: 10;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header .header-name {
    color: #FFFFFF;
	float: left;
	margin-left: 30px;
	font-size: 30px;
    text-decoration: none;
}

.header .header-logo {
    float: right;
    font-size: 28px;
}

.header .header-menu {
	float: right;
	font-size: 22px;
}

.header .header-menu a {
	margin-right: 15px;
	color: #FFFFFF;
    text-decoration: none;
}

.header .header-menu a:hover {
	color: #bdc3c7;
}

/*
BANNER
*/
.banner .banner-content {
	position: absolute;
	width: 100%;
	text-align: center;
    font-size: 30px;
    z-index: 11;
    font-family: 'Ubuntu', sans-serif;
    top: 180px;
}

/*
PROJECT
*/

.main {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards .card {
    margin-right: 20px;
    cursor: pointer;
}

.cards .card img {
    width: 350px;
}

.card .card .card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card .card-body p {
    margin-top: -10px;
}

.cards .card .wsh {
    border: 1rem solid;
    border-color: #ffffff;
}