/*
BODY
*/
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: 0;
    background-image: url("../images/bg.png");
    background-attachment:fixed;
}

/*
HEADER HORIZONTAL
*/
.header {
    width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 75px;
	line-height: 75px;
	background-color: #585858; 
	position: fixed;
    z-index: 10;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header .header-name {
    color: #FFFFFF;
	float: left;
	margin-left: 30px;
	font-size: 30px;
    text-decoration: none;
}

.header .header-logo {
    float: right;
    font-size: 28px;
}

.header .header-menu {
	float: right;
	font-size: 22px;
}

.header .header-menu a {
	margin-right: 15px;
	color: #FFFFFF;
    text-decoration: none;
}

.header .header-menu a:hover {
	color: #bdc3c7;
}

/*
HEADER VERTICAL
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.header-vertical {
    top: 75px;
    background-color: #585858; 
    display: flex;
    position: relative;
    z-index: 10;
    font-family: 'Ubuntu', sans-serif;
}

.header-vertical .header-menu-vertical {
    font-size: 30px;
    width: 200px;
    height: 100%;
    background: #585858;
    position: fixed;
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.header-vertical .header-menu-vertical li {
    margin: 20px;
}

.header-vertical .header-menu-vertical a {
    width: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-vertical .header-menu-vertical a:hover {
    color: #bdc3c7;
}


/*
BANNER
*/
.banner .banner-content {
	position: absolute;
	width: 100%;
	text-align: center;
    font-size: 30px;
    z-index: 11;
    font-family: 'Ubuntu', sans-serif;
    top: 180px;
}

/*
CONTENT
*/
.title1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

.txt1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.title2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 130px;
}

.txt2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.txt2code {
    font-family: 'Source Code Pro', monospace;
    color: #6f7572;
    font-size: 25px;
    margin-top: 30px;
    background-color: #2c2b24;
    margin-left: 350px;
    margin-right: 200px;
}

.title3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 130px;
}

.txt3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.txt3code {
    font-family: 'Source Code Pro', monospace;
    color: #6f7572;
    font-size: 25px;
    margin-top: 30px;
    background-color: #2c2b24;
    margin-left: 350px;
    margin-right: 200px;
}

.txt3min {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}

.title4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 130px;
}

.txt4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.txt4code {
    font-family: 'Source Code Pro', monospace;
    color: #6f7572;
    font-size: 25px;
    margin-top: 30px;
    background-color: #2c2b24;
    margin-left: 350px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.title5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
}

.txt5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.title6 {
    margin-top: 200px;
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.subtitle {
    margin-top: 70px;
    font-size: 55px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.howtolaunch {
    margin-top: 200px;
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.howtolaunchsubtitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}

.txt5code {
    font-family: 'Source Code Pro', monospace;
    color: #6f7572;
    font-size: 25px;
    margin-top: 40px;
    background-color: #2c2b24;
    margin-left: 350px;
    margin-right: 200px;
    margin-bottom: 50px;
}
