/*
BODY
*/
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: 0;
    background-image: url("../images/bg.png");
    background-attachment:fixed;
}

/*
HEADER
*/
.header {
    width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 75px;
	line-height: 75px;
	background-color: #585858; 
	position: fixed;
    z-index: 10;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header .header-name {
    color: #FFFFFF;
	float: left;
	margin-left: 30px;
	font-size: 30px;
    text-decoration: none;
}

.header .header-logo {
    float: right;
    font-size: 28px;
}

.header .header-menu {
	float: right;
	font-size: 22px;
}

.header .header-menu a {
	margin-right: 15px;
	color: #FFFFFF;
    text-decoration: none;
}

.header .header-menu a:hover {
	color: #bdc3c7;
}

/*
BANNER
*/

.banner .banner-content {
	position: absolute;
	width: 100%;
	text-align: center;
    font-size: 30px;
    z-index: 11;
    font-family: 'Ubuntu', sans-serif;
    top: 180px;
}

/*
FOOTER
*/

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
}

.contenu {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    width: 100%;
    position:absolute;
    bottom:10px;
    color: #333;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.bloc {
    margin: 0 30px;
}

.footer-contact h3,
.footer-categorie h3,
.footer-engagements h3{
    font-size: 29px;
    padding-bottom: 5px;
}

.liste-engagements,
.liste-categorie,
.liste-contact {
    list-style-type: none;
    position: relative;
}

.liste-engagements a,
.liste-categorie a,
.liste-contact a {
    color: #333;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    font-size: 24px;
}

.liste-engagements a:hover,
.liste-categorie a:hover,
.liste-contact a:hover {
    color:  #585858;
}

/*
RESPONSIVE
*/

/* Media queries */

@media screen and (max-width: 1300px) {

    .header .header-menu {
        font-size: 17px;
    }
    .footer-contact h3,
    .footer-categorie h3,
    .footer-engagements h3{
        font-size: 22px;
        padding-bottom: 15px;
    }
    .bloc {
        width: 40%;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 800px) {
    
    .contenu-footer {
        width: 320px;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
}

